<link rel="stylesheet" href="/css/form_style.css">

<div class="background">
    <div class="form-container">

    <form action="/user/forget-password" method="POST">
        <label for="get_email">Enter Registered Email</label>
        <input type="email" name="get_email" id="get_email" class="form-control" placeholder="Enter email" required></input>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </div>
</div>