<div class="get-email-container">
    <form action="/user/forget-password" method="POST">
        <label for="get_email">Enter your registered Email</label>
        <input type="email" name="get_email" id="get_email"></input>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>