<div class="container">
    <form action="/user/update_password" method="POST">
    
        <label for="new_password">New Password</label>
        <input type="password" id="new_password" name="new_password">
        <br>
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password">

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>