<div class="container">

    <form action="/user/check-reset-code" method="post"> 
        <label for="reset_code">Enter reset code to the registered email</label>
        <br>
        <input type="text" id="reset_code" name="reset_code" required>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>